{% extends 'base.html.twig' %}{% block title 'Projet Solidaire' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Acheter en direct des producteurs, tout le monde s’y retrouve.</h1>
    </div>
    <div class="mt-5">
        <div class="container col-md-6">
            {% for recipes in recipes %}
            <div class="card card-body">
                <h4>{{ recipes.name }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('login') }}">Se connecter</a><br>
    <a href="{{ path('register') }}">Créer un compte</a><br>
    <a href="{{ path('index_merchant') }}">Espace Marchant</a><br>
    <a href="{{ path('create_recipe') }}">Créer une recette</a><br>
{% endblock %}